<!DOCTYPE html>
<html>
<head><% include ./partials/template/head.ejs %></head>
  <body>
    <main>
      <% include ./partials/template/header.ejs %>
      <div class="container">
        <div class="row">
          <h1 class="center-align" id="title">Justin Kinney</h1>
          
          <div class="divider"></div>
        </div>
        <div class="row">
          <div class=" col s12">
            <% include ./partials/template/slider.ejs %>
          </div>
        </div>
        <div class="row">
          <div class=" col s8">
            <div class="divider"></div>
            <h4>Video</h4>
            <% include ./partials/content/video.ejs %>
          </div>
          <div class="col s4">
            <div class="divider"></div>
            <h4>Blog</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>
      </div>
      <% include ./partials/template/footer.ejs %>
    </main>

    <% include ./partials/template/defaultjs.ejs %>
  </body>
</html>
